default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  socket: /var/run/mysqld/mysqld.sock

staging:
  <<: *default
  database: yogiease_staging
  username: <%= Rails.application.credentials.staging[:db_name] %>
  password: <%= Rails.application.credentials.staging[:db_password] %>

production:
  <<: *default
  database: yogiease_production
  username: <%= Rails.application.credentials.production[:db_name] %>
  password: <%= Rails.application.credentials.production[:db_password] %>
